@import "tailwindcss";
/* For box-model */
*,
*::after,
*::before {
  /* outline: 1px solid red;  */
}

:root {
  /* For text on dark */
  --text-color-gray: #dddddd;
  /* Primary Theme Color - Used for primary buttons, headers, and key UI elements */
  --color-purple: #7209b7;
  --btn-color-purple: #7209b7;
  --btn-hover-color-purple: #4f0581;
  /* Alert & Attention Color - Used for urgent notifications, error messages, and important CTAs */
  --color-pink: #f72585;
  --link-color: #f72585;
  /* Background & Contrast Color - Ideal for dark mode backgrounds, dashboard panels, and text-heavy sections */
  --color-navy: #3a0ca3;
  --color-dark-navy: #14033a;
  --dialog-color-dark-navy: #14033a;
  --input-bg-color: #312843;
  /* Secondary Action & Interaction Color - Used for secondary buttons, hover effects, tooltips, and links */
  --color-sky: #4361ee;
  /* Highlights & Accents - Used for success messages, badges, UI separators, and subtle highlights */
  --color-teal: #0099c8;
}

.login-bg-img {
  background-image: url("/src/assets/images/login.svg");
  background-color: #3a0ca3;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.signup-bg-img {
  background-image: url("/src/assets/images/signup.svg");
  background-color: #7209b7;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8) translate(-10px, -50px);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
.show {
  animation: fadeInScale 0.3s forwards;
}

.hide {
  animation: fadeOutScale 0.3s forwards;
}

@keyframes moveOutwardRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes moveOutwardLeft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translate(0%);
  }
}

.box-left {
  z-index: 1;
  animation-name: moveOutwardLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: forwards;
}
.box-right {
  animation-name: moveOutwardRight;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: forwards;
}

@keyframes dropNav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.drop-nav-animation {
  animation-name: dropNav;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: forwards;
}

@keyframes alert-animation {
  from {
    transform: translateY(-300%);
  }

  to {
    transform: translateY(-100%);
  }
}
.alert-animation {
  animation-name: alert-animation;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-direction: forwards;
}
